@import 'variables';

.collapse {
  margin-bottom: 20px;
  
  &__button {
    width: 100%;
    padding: 10px 15px;
    background: $color-primary;
    border: none;
    border-radius: 5px; 
    @extend %flex-center;
    justify-content: space-between;
    cursor: pointer;
    position: relative; 
    z-index: 1;
    height: 30px;

    @include respond-to($breakpoint-mobile) {
      height: 55px;
    }
  }

  &__title {
    color: $color-white;
    font-size: 13px;
    font-weight: 700;
    
    @include respond-to($breakpoint-mobile) {
      font-size: 24px;
    }
  }

  &__arrow {
    font-size: 24px;
  }

  &__icon {
    width: 16px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease;

    @include respond-to($breakpoint-mobile) {
      width: 32px;
    }
  }

  &__arrow--up {
    .collapse__icon {
      transform: rotate(-180deg);
    }
  }

  &__content {
    background: $color-grey;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-in-out;
    border-radius: 0 0 5px 5px;
  }
  
  &__inner {
    padding: 20px;
    font-size: 12px;
    line-height: 1.5;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    color: $color-black;
    
    &--visible {
      transform: translateY(0);
    }
    
    @include respond-to($breakpoint-mobile) {
      font-size: 24px;
    }
  }
}