.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;

    &__home{
        padding: 20px;
    }
    
    &__logo {
        width: 145px;
        
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    
    &__nav {
        display: flex;
        gap: 25px;
        text-wrap: nowrap;
        
        &-link {
            font-size: 12px;
            font-weight: 500;
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
}