@import 'variables';

.host {
  @extend %flex-center;
  gap: 10px;

  &__name {
    color: $color-primary;
    font-size: 12px;
    text-align: right;
    display: flex;
    flex-direction: column;

    @include respond-to($breakpoint-mobile) {
      font-size: 18px;
    }
  }

  &__picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;

    @include respond-to($breakpoint-mobile) {
      width: 64px;
      height: 64px;
    }
  }
}