@import 'variables';

.logement {

  &__content {
    margin: 15px 0;
    
    @include respond-to($breakpoint-mobile) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 30px 0;
    }
  }
  
  &__primary {
    margin-bottom: 16px;
    
    @include respond-to($breakpoint-mobile) {
      margin-bottom: 0;
    }
  }
  
  &__title {
    color: $color-primary;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 500;
    
    @include respond-to($breakpoint-mobile) {
      font-size: 36px;
    }
  }
  
  &__location {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
    
    @include respond-to($breakpoint-mobile) {
      font-size: 18px;
    }
  }
  
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  &__secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include respond-to($breakpoint-mobile) {
      flex-direction: column-reverse;
      align-items: flex-end;
      gap: 20px;
    }
  }
  
  &__details {
    display: grid;
    margin: 20px 0;
    
    @include respond-to($breakpoint-mobile) {
      grid-template-columns: 1fr 1fr;
      gap: 76px;
    }
  }
  
  &__equipments {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}