@import 'variables';

.rating {
  @extend %flex-center;
  gap: 5px;

  &__star {
    width: 15px;
    height: 15px;

    @include respond-to($breakpoint-mobile) {
      width: 24px;
      height: 24px;
    }
  }
}